SERVER_URL=0.0.0.0
SERVER_PORT=3000
# DB Vars
DB_HOST=my-host
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=users_db
DB_PORT=5432
TRUE_NATIVE_HOST=http://example
TRUE_NATIVE_SECRET_TOKEN=token
USERS_HOST=http://example
NOTIFICATIONS_HOST=http://example
